# HomeSync AI - Environment Configuration
PORT=5001
JWT_SECRET=homesync_secret_key_2026

# PostgreSQL / Supabase Connection URI
DATABASE_URL=postgresql://postgres.yxicrdkkztajqyvqoslu:4FBLk7En%25sHp7h_@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres

# Optional Discrete Parameters
DB_HOST=aws-0-ap-northeast-2.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.yxicrdkkztajqyvqoslu
DB_PASSWORD=4FBLk7En%sHp7h_
DB_NAME=postgres
